.smw-forgot-message-error,
.smw-reset-message-error
{
 color:#a94442;
 background-color:#f2dede;
 border-color:#e8c4c4;
 padding:15px;
 margin-top:20px;
 margin-bottom:20px;
}

.smw-forgot-message-success,
.smw-reset-message-success
{
 color:#3c763d;
 background-color:#dff0d8;
 border-color:#cae6be;
 padding:15px;
 margin-top:20px;
 margin-bottom:20px;
}