.smw-menu-item:before, .smw-menu-item:after 
{
  display: block;
  position: absolute;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.58, 0.3, 0.005, 1);
  -o-transition-timing-function: cubic-bezier(0.58, 0.3, 0.005, 1);
  transition-timing-function: cubic-bezier(0.58, 0.3, 0.005, 1); 
}

.smw-menu-item:not(:hover):not(:focus):not(.smw-menu-item-active):not(.highlighted):before, .smw-menu-item:not(:hover):not(:focus):not(.smw-menu-item-active):not(.highlighted):after 
{
  opacity: 0; 
}

.smw-menu-item:hover:before, .smw-menu-item:hover:after, .smw-menu-item:focus:before, .smw-menu-item:focus:after, .smw-menu-item.highlighted:before, .smw-menu-item.highlighted:after 
{
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); 

}

.smw-menu-item-active:before, .smw-menu-item-active:after 
{
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); 
}

/* Double Line Pointer
* Underline Pointer
* Overline Pointer */
.smw--pointer-double-line .smw-menu-item:before, .smw--pointer-double-line .smw-menu-item:after,
.smw--pointer-underline .smw-menu-item:before,
.smw--pointer-underline .smw-menu-item:after,
.smw--pointer-overline .smw-menu-item:before,
.smw--pointer-overline .smw-menu-item:after 
{
  height: 3px;
  width: 100%;
  left: 0;
  background-color: #55595c;
  z-index: 2; 
}

.smw--pointer-double-line.e--animation-grow .smw-menu-item:not(:hover):not(:focus):not(.smw-menu-item-active):not(.highlighted):before, .smw--pointer-double-line.e--animation-grow .smw-menu-item:not(:hover):not(:focus):not(.smw-menu-item-active):not(.highlighted):after,
.smw--pointer-underline.e--animation-grow .smw-menu-item:not(:hover):not(:focus):not(.smw-menu-item-active):not(.highlighted):before,
.smw--pointer-underline.e--animation-grow .smw-menu-item:not(:hover):not(:focus):not(.smw-menu-item-active):not(.highlighted):after,
.smw--pointer-overline.e--animation-grow .smw-menu-item:not(:hover):not(:focus):not(.smw-menu-item-active):not(.highlighted):before,
.smw--pointer-overline.e--animation-grow .smw-menu-item:not(:hover):not(:focus):not(.smw-menu-item-active):not(.highlighted):after 
{
  height: 0;
  width: 0;
  left: 50%; 
}

.smw--pointer-double-line.e--animation-drop-out .smw-menu-item:not(:hover):not(:focus):not(.smw-menu-item-active):not(.highlighted):before,
.smw--pointer-underline.e--animation-drop-out .smw-menu-item:not(:hover):not(:focus):not(.smw-menu-item-active):not(.highlighted):before,
.smw--pointer-overline.e--animation-drop-out .smw-menu-item:not(:hover):not(:focus):not(.smw-menu-item-active):not(.highlighted):before 
{
  top: 10px; 
}

.smw--pointer-double-line.e--animation-drop-out .smw-menu-item:not(:hover):not(:focus):not(.smw-menu-item-active):not(.highlighted):after,
.smw--pointer-underline.e--animation-drop-out .smw-menu-item:not(:hover):not(:focus):not(.smw-menu-item-active):not(.highlighted):after,
.smw--pointer-overline.e--animation-drop-out .smw-menu-item:not(:hover):not(:focus):not(.smw-menu-item-active):not(.highlighted):after 
{
  bottom: 10px; 
}

.smw--pointer-double-line.e--animation-drop-in .smw-menu-item:not(:hover):not(:focus):not(.smw-menu-item-active):not(.highlighted):before,
.smw--pointer-underline.e--animation-drop-in .smw-menu-item:not(:hover):not(:focus):not(.smw-menu-item-active):not(.highlighted):before,
.smw--pointer-overline.e--animation-drop-in .smw-menu-item:not(:hover):not(:focus):not(.smw-menu-item-active):not(.highlighted):before 
{
  top: -10px; 
}

.smw--pointer-double-line.e--animation-drop-in .smw-menu-item:not(:hover):not(:focus):not(.smw-menu-item-active):not(.highlighted):after,
.smw--pointer-underline.e--animation-drop-in .smw-menu-item:not(:hover):not(:focus):not(.smw-menu-item-active):not(.highlighted):after,
.smw--pointer-overline.e--animation-drop-in .smw-menu-item:not(:hover):not(:focus):not(.smw-menu-item-active):not(.highlighted):after 
{
  bottom: -10px; 
}

.smw--pointer-double-line.e--animation-none,
.smw--pointer-underline.e--animation-none,
.smw--pointer-overline.e--animation-none 
{
  -webkit-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s; 
}

.smw--pointer-double-line.e--animation-none:before, .smw--pointer-double-line.e--animation-none:after, .smw--pointer-double-line.e--animation-none:hover, .smw--pointer-double-line.e--animation-none:focus,
.smw--pointer-underline.e--animation-none:before,
.smw--pointer-underline.e--animation-none:after,
.smw--pointer-underline.e--animation-none:hover,
.smw--pointer-underline.e--animation-none:focus,
.smw--pointer-overline.e--animation-none:before,
.smw--pointer-overline.e--animation-none:after,
.smw--pointer-overline.e--animation-none:hover,
.smw--pointer-overline.e--animation-none:focus 
{
    -webkit-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s; 
}

.smw--pointer-double-line.e--animation-none .smw-menu-item,
.smw--pointer-underline.e--animation-none .smw-menu-item,
.smw--pointer-overline.e--animation-none .smw-menu-item 
{
    -webkit-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s; 
}

.smw--pointer-double-line.e--animation-none .smw-menu-item:before, .smw--pointer-double-line.e--animation-none .smw-menu-item:after, .smw--pointer-double-line.e--animation-none .smw-menu-item:hover, .smw--pointer-double-line.e--animation-none .smw-menu-item:focus,
.smw--pointer-underline.e--animation-none .smw-menu-item:before,
.smw--pointer-underline.e--animation-none .smw-menu-item:after,
.smw--pointer-underline.e--animation-none .smw-menu-item:hover,
.smw--pointer-underline.e--animation-none .smw-menu-item:focus,
.smw--pointer-overline.e--animation-none .smw-menu-item:before,
.smw--pointer-overline.e--animation-none .smw-menu-item:after,
.smw--pointer-overline.e--animation-none .smw-menu-item:hover,
.smw--pointer-overline.e--animation-none .smw-menu-item:focus 
{
      -webkit-transition-duration: 0s;
      -o-transition-duration: 0s;
      transition-duration: 0s; 
}


.smw--pointer-double-line .smw-menu-item:before,
.smw--pointer-overline .smw-menu-item:before 
{
  content: '';
  top: 0; 
}

.smw--pointer-double-line.e--animation-slide .smw-menu-item:not(:hover):not(:focus):not(.smw-menu-item-active):not(.highlighted):before,
.smw--pointer-overline.e--animation-slide .smw-menu-item:not(:hover):not(:focus):not(.smw-menu-item-active):not(.highlighted):before 
{
  width: 10px;
  left: -20px; 
}


.smw--pointer-double-line .smw-menu-item:after,
.smw--pointer-underline .smw-menu-item:after 
{
  content: '';
  bottom: 0; 
}

.smw--pointer-double-line.e--animation-slide .smw-menu-item:not(:hover):not(:focus):not(.smw-menu-item-active):not(.highlighted):after,
.smw--pointer-underline.e--animation-slide .smw-menu-item:not(:hover):not(:focus):not(.smw-menu-item-active):not(.highlighted):after 
{
  width: 10px;
  left: calc( 100% + 20px); 
}


/* Framed Pointer */
.smw--pointer-framed .smw-menu-item:before, .smw--pointer-framed .smw-menu-item:after 
{
  background: transparent;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border: 3px solid #55595c; 
}

.smw--pointer-framed .smw-menu-item:before 
{
  content: ''; 
}

.smw--pointer-framed.e--animation-grow .smw-menu-item:before 
{
  -webkit-transition: opacity 0.2s, -webkit-transform 0.4s;
  transition: opacity 0.2s, -webkit-transform 0.4s;
  -o-transition: opacity 0.2s, transform 0.4s;
  transition: opacity 0.2s, transform 0.4s;
  transition: opacity 0.2s, transform 0.4s, -webkit-transform 0.4s; 
}

.smw--pointer-framed.e--animation-grow .smw-menu-item:not(:hover):not(:focus):not(.smw-menu-item-active):not(.highlighted):before 
{
  -webkit-transform: scale(0.75);
  -ms-transform: scale(0.75);
  transform: scale(0.75); 
}

.smw--pointer-framed.e--animation-shrink .smw-menu-item:before 
{
  -webkit-transition: opacity 0.2s, -webkit-transform 0.4s;
  transition: opacity 0.2s, -webkit-transform 0.4s;
  -o-transition: opacity 0.2s, transform 0.4s;
  transition: opacity 0.2s, transform 0.4s;
  transition: opacity 0.2s, transform 0.4s, -webkit-transform 0.4s; 
}

.smw--pointer-framed.e--animation-shrink .smw-menu-item:not(:hover):not(:focus):not(.smw-menu-item-active):not(.highlighted):before 
{
  -webkit-transform: scale(1.25);
  -ms-transform: scale(1.25);
  transform: scale(1.25); 
}

.smw--pointer-framed.e--animation-draw .smw-menu-item:before, .smw--pointer-framed.e--animation-draw .smw-menu-item:after 
{
  width: 3px;
  height: 3px; 
}

.smw--pointer-framed.e--animation-draw .smw-menu-item:before 
{
  border-width: 0 0 3px 3px;
  -webkit-transition: width 0.1s 0.2s, height 0.1s 0.3s, opacity 0.12s 0.22s;
  -o-transition: width 0.1s 0.2s, height 0.1s 0.3s, opacity 0.12s 0.22s;
  transition: width 0.1s 0.2s, height 0.1s 0.3s, opacity 0.12s 0.22s; 
}

.smw--pointer-framed.e--animation-draw .smw-menu-item:after 
{
  content: '';
  top: initial;
  bottom: 0;
  left: initial;
  right: 0;
  border-width: 3px 3px 0 0;
  -webkit-transition: width 0.1s, height 0.1s 0.1s, opacity 0.02s 0.18s;
  -o-transition: width 0.1s, height 0.1s 0.1s, opacity 0.02s 0.18s;
  transition: width 0.1s, height 0.1s 0.1s, opacity 0.02s 0.18s; 
}

.smw--pointer-framed.e--animation-draw .smw-menu-item:hover:before, .smw--pointer-framed.e--animation-draw .smw-menu-item:hover:after, .smw--pointer-framed.e--animation-draw .smw-menu-item:focus:before, .smw--pointer-framed.e--animation-draw .smw-menu-item:focus:after, .smw--pointer-framed.e--animation-draw .smw-menu-item.highlighted:before, .smw--pointer-framed.e--animation-draw .smw-menu-item.highlighted:after 
{
  width: 100%;
  height: 100%; 
}

.smw--pointer-framed.e--animation-draw .smw-menu-item:hover:before, .smw--pointer-framed.e--animation-draw .smw-menu-item:focus:before, .smw--pointer-framed.e--animation-draw .smw-menu-item.highlighted:before 
{
  -webkit-transition: opacity 0.02s, height 0.1s, width 0.1s 0.1s;
  -o-transition: opacity 0.02s, height 0.1s, width 0.1s 0.1s;
  transition: opacity 0.02s, height 0.1s, width 0.1s 0.1s; 
}

.smw--pointer-framed.e--animation-draw .smw-menu-item:hover:after, .smw--pointer-framed.e--animation-draw .smw-menu-item:focus:after, .smw--pointer-framed.e--animation-draw .smw-menu-item.highlighted:after 
{
  -webkit-transition: opacity 0.02s 0.2s, height 0.1s 0.2s, width 0.1s 0.3s;
  -o-transition: opacity 0.02s 0.2s, height 0.1s 0.2s, width 0.1s 0.3s;
  transition: opacity 0.02s 0.2s, height 0.1s 0.2s, width 0.1s 0.3s; 
}

.smw--pointer-framed.e--animation-draw .smw-menu-item-active:before, .smw--pointer-framed.e--animation-draw .smw-menu-item-active:after 
{
  width: 100%;
  height: 100%; 
}

.smw--pointer-framed.e--animation-draw .smw-menu-item-active:before 
{
  -webkit-transition: opacity 0.02s, height 0.1s, width 0.1s 0.1s;
  -o-transition: opacity 0.02s, height 0.1s, width 0.1s 0.1s;
  transition: opacity 0.02s, height 0.1s, width 0.1s 0.1s; 
}

.smw--pointer-framed.e--animation-draw .smw-menu-item-active:after 
{
  -webkit-transition: opacity 0.02s 0.2s, height 0.1s 0.2s, width 0.1s 0.3s;
  -o-transition: opacity 0.02s 0.2s, height 0.1s 0.2s, width 0.1s 0.3s;
  transition: opacity 0.02s 0.2s, height 0.1s 0.2s, width 0.1s 0.3s; 
}

.smw--pointer-framed.e--animation-corners .smw-menu-item:before, .smw--pointer-framed.e--animation-corners .smw-menu-item:after 
{
  width: 3px;
  height: 3px; 
}

.smw--pointer-framed.e--animation-corners .smw-menu-item:before 
{
  border-width: 3px 0 0 3px; 
}

.smw--pointer-framed.e--animation-corners .smw-menu-item:after 
{
  content: '';
  top: initial;
  bottom: 0;
  left: initial;
  right: 0;
  border-width: 0 3px 3px 0; 
}

.smw--pointer-framed.e--animation-corners .smw-menu-item:hover:before, .smw--pointer-framed.e--animation-corners .smw-menu-item:hover:after, .smw--pointer-framed.e--animation-corners .smw-menu-item:focus:before, .smw--pointer-framed.e--animation-corners .smw-menu-item:focus:after, .smw--pointer-framed.e--animation-corners .smw-menu-item.highlighted:before, .smw--pointer-framed.e--animation-corners .smw-menu-item.highlighted:after 
{
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.002s, width 0.4s, height 0.4s;
  -o-transition: opacity 0.002s, width 0.4s, height 0.4s;
  transition: opacity 0.002s, width 0.4s, height 0.4s; 
}

.smw--pointer-framed.e--animation-corners .smw-menu-item-active:before, .smw--pointer-framed.e--animation-corners .smw-menu-item-active:after 
{
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.002s, width 0.4s, height 0.4s;
  -o-transition: opacity 0.002s, width 0.4s, height 0.4s;
  transition: opacity 0.002s, width 0.4s, height 0.4s; 
}

.smw--pointer-framed.e--animation-none 
{
  -webkit-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s; 
}

  .smw--pointer-framed.e--animation-none .smw-menu-item 
{
    -webkit-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s; 
}

    .smw--pointer-framed.e--animation-none .smw-menu-item:before, .smw--pointer-framed.e--animation-none .smw-menu-item:after, .smw--pointer-framed.e--animation-none .smw-menu-item:hover, .smw--pointer-framed.e--animation-none .smw-menu-item:focus 
{
      -webkit-transition-duration: 0s;
      -o-transition-duration: 0s;
      transition-duration: 0s; 
}

  .smw--pointer-framed.e--animation-none:before, .smw--pointer-framed.e--animation-none:after, .smw--pointer-framed.e--animation-none:hover, .smw--pointer-framed.e--animation-none:focus 
{
    -webkit-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s; 
}

/* Background Pointer */
.smw--pointer-background .smw-menu-item:before, .smw--pointer-background .smw-menu-item:after 
{
  content: '';
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; 
}

.smw--pointer-background .smw-menu-item:before 
{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #55595c;
  z-index: -1; 
}

.smw--pointer-background .smw-menu-item:hover, .smw--pointer-background .smw-menu-item:focus, .smw--pointer-background .smw-menu-item.highlighted 
{
  color: #fff; 
}

  .smw--pointer-background .smw-menu-item:hover:before, .smw--pointer-background .smw-menu-item:focus:before, .smw--pointer-background .smw-menu-item.highlighted:before 
{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1; 
}

.smw--pointer-background .smw-menu-item-active 
{
  color: #fff; 
}

  .smw--pointer-background .smw-menu-item-active:before 
{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1; 
}

.smw--pointer-background.e--animation-grow .smw-menu-item:before 
{
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5); 
}

.smw--pointer-background.e--animation-shrink .smw-menu-item:not(:hover):not(:focus):not(.smw-menu-item-active):not(.highlighted):before 
{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; 
}

.smw--pointer-background.e--animation-shrink .smw-menu-item:hover:before, .smw--pointer-background.e--animation-shrink .smw-menu-item:focus:before, .smw--pointer-background.e--animation-shrink .smw-menu-item.highlighted:before 
{
  -webkit-transition: opacity 0.15s, -webkit-transform 0.4s;
  transition: opacity 0.15s, -webkit-transform 0.4s;
  -o-transition: opacity 0.15s, transform 0.4s;
  transition: opacity 0.15s, transform 0.4s;
  transition: opacity 0.15s, transform 0.4s, -webkit-transform 0.4s; 
}

.smw--pointer-background.e--animation-shrink .smw-menu-item-active:before 
{
  -webkit-transition: opacity 0.15s, -webkit-transform 0.4s;
  transition: opacity 0.15s, -webkit-transform 0.4s;
  -o-transition: opacity 0.15s, transform 0.4s;
  transition: opacity 0.15s, transform 0.4s;
  transition: opacity 0.15s, transform 0.4s, -webkit-transform 0.4s; 
}

.smw--pointer-background.e--animation-sweep-left .smw-menu-item:not(:hover):not(:focus):not(.smw-menu-item-active):not(.highlighted):before 
{
  left: 100%; 
}

.smw--pointer-background.e--animation-sweep-right .smw-menu-item:not(:hover):not(:focus):not(.smw-menu-item-active):not(.highlighted):before 
{
  right: 100%; 
}

.smw--pointer-background.e--animation-sweep-up .smw-menu-item:not(:hover):not(:focus):not(.smw-menu-item-active):not(.highlighted):before 
{
  top: 100%; 
}

.smw--pointer-background.e--animation-sweep-down .smw-menu-item:not(:hover):not(:focus):not(.smw-menu-item-active):not(.highlighted):before 
{
  bottom: 100%; 
}

.smw--pointer-background.e--animation-shutter-out-vertical .smw-menu-item:not(:hover):not(:focus):not(.smw-menu-item-active):not(.highlighted):before 
{
  bottom: 50%;
  top: 50%; 
}

.smw--pointer-background.e--animation-shutter-out-horizontal .smw-menu-item:not(:hover):not(:focus):not(.smw-menu-item-active):not(.highlighted):before 
{
  right: 50%;
  left: 50%; 
}

.smw--pointer-background.e--animation-shutter-in-vertical .smw-menu-item:after, .smw--pointer-background.e--animation-shutter-in-horizontal .smw-menu-item:after 
{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #55595c;
  z-index: -1; 
}

.smw--pointer-background.e--animation-shutter-in-vertical .smw-menu-item:before 
{
  top: 0;
  bottom: 100%; 
}

.smw--pointer-background.e--animation-shutter-in-vertical .smw-menu-item:after 
{
  top: 100%;
  bottom: 0; 
}

.smw--pointer-background.e--animation-shutter-in-vertical .smw-menu-item:hover, .smw--pointer-background.e--animation-shutter-in-vertical .smw-menu-item:focus, .smw--pointer-background.e--animation-shutter-in-vertical .smw-menu-item.highlighted 
{
  bottom: 50%; 
}

  .smw--pointer-background.e--animation-shutter-in-vertical .smw-menu-item:hover:after, .smw--pointer-background.e--animation-shutter-in-vertical .smw-menu-item:focus:after, .smw--pointer-background.e--animation-shutter-in-vertical .smw-menu-item.highlighted:after 
{
    top: 50%; 
}

.smw--pointer-background.e--animation-shutter-in-vertical .smw-menu-item-active:before 
{
  bottom: 50%; 
}

.smw--pointer-background.e--animation-shutter-in-vertical .smw-menu-item-active:after 
{
  top: 50%; 
}

.smw--pointer-background.e--animation-shutter-in-horizontal .smw-menu-item:before 
{
  right: 0;
  left: 100%; 
}

.smw--pointer-background.e--animation-shutter-in-horizontal .smw-menu-item:after 
{
  right: 100%;
  left: 0; 
}

.smw--pointer-background.e--animation-shutter-in-horizontal .smw-menu-item:hover:before, .smw--pointer-background.e--animation-shutter-in-horizontal .smw-menu-item:focus:before, .smw--pointer-background.e--animation-shutter-in-horizontal .smw-menu-item.highlighted:before 
{
  left: 50%; 
}

.smw--pointer-background.e--animation-shutter-in-horizontal .smw-menu-item:hover:after, .smw--pointer-background.e--animation-shutter-in-horizontal .smw-menu-item:focus:after, .smw--pointer-background.e--animation-shutter-in-horizontal .smw-menu-item.highlighted:after 
{
  right: 50%; 
}

.smw--pointer-background.e--animation-shutter-in-horizontal .smw-menu-item-active:before 
{
  left: 50%; 
}

.smw--pointer-background.e--animation-shutter-in-horizontal .smw-menu-item-active:after 
{
  right: 50%; 
}

.smw--pointer-background.e--animation-none 
{
  -webkit-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s; 
}

  .smw--pointer-background.e--animation-none:before, .smw--pointer-background.e--animation-none:after, .smw--pointer-background.e--animation-none:hover, .smw--pointer-background.e--animation-none:focus 
{
    -webkit-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s; 
}

  .smw--pointer-background.e--animation-none .smw-menu-item 
{
    -webkit-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s; 
}

    .smw--pointer-background.e--animation-none .smw-menu-item:before, .smw--pointer-background.e--animation-none .smw-menu-item:after, .smw--pointer-background.e--animation-none .smw-menu-item:hover, .smw--pointer-background.e--animation-none .smw-menu-item:focus 
{
      -webkit-transition-duration: 0s;
      -o-transition-duration: 0s;
      transition-duration: 0s; 
}

.smw--pointer-brackets .smw-menu-item:before,
.smw--pointer-brackets .smw-menu-item:after 
{
  background-color: transparent !important;
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s; 
}

.smw--pointer-brackets .smw-menu-item:before 
{
  left: 0;
  margin-right: 10px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px); 
}

.smw--pointer-brackets .smw-menu-item:after 
{
  right: 0;
  margin-left: 10px;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px); 
}

.smw--pointer-brackets .smw-menu-item:hover:before,
.smw--pointer-brackets .smw-menu-item:hover:after,
.smw--pointer-brackets .smw-menu-item:focus:before,
.smw--pointer-brackets .smw-menu-item:focus:after 
{
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px); 
}

.smw--pointer-right-angle-slides .smw-menu-item:before 
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #61ce70;
  content: '';
  opacity: 1 !important;
  -webkit-transition: top 0.3s;
  -moz-transition: top 0.3s;
  transition: top 0.3s; 
}

.smw--pointer-right-angle-slides .smw-menu-item:after 
{
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background: #61ce70;
  content: '';
  -webkit-transition: height 0.3s, opacity 0.3s;
  -moz-transition: height 0.3s, opacity 0.3s;
  transition: height 0.3s, opacity 0.3s; 
}

.smw--pointer-right-angle-slides .smw-menu-item:hover:before 
{
  top: 100%;
  opacity: 1; 
}

.smw--pointer-right-angle-slides .smw-menu-item:hover:after 
{
  height: 100%; 
}

.smw--pointer-text.e--animation-skew .smw-menu-item:hover, .smw--pointer-text.e--animation-skew .smw-menu-item:focus 
{
  -webkit-transform: skew(-8deg);
  -ms-transform: skew(-8deg);
  transform: skew(-8deg); 
}

.smw--pointer-text.e--animation-grow .smw-menu-item:hover, .smw--pointer-text.e--animation-grow .smw-menu-item:focus 
{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2); 
}

.smw--pointer-text.e--animation-shrink .smw-menu-item:hover, .smw--pointer-text.e--animation-shrink .smw-menu-item:focus 
{
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8); 
}

.smw--pointer-text.e--animation-float .smw-menu-item:hover, .smw--pointer-text.e--animation-float .smw-menu-item:focus 
{
  -webkit-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  transform: translateY(-8px); 
}

.smw--pointer-text.e--animation-sink .smw-menu-item:hover, .smw--pointer-text.e--animation-sink .smw-menu-item:focus 
{
  -webkit-transform: translateY(8px);
  -ms-transform: translateY(8px);
  transform: translateY(8px); 
}

.smw--pointer-text.e--animation-rotate .smw-menu-item:hover, .smw--pointer-text.e--animation-rotate .smw-menu-item:focus 
{
  -webkit-transform: rotate(6deg);
  -ms-transform: rotate(6deg);
  transform: rotate(6deg); 
}

.smw--pointer-text.e--animation-none 
{
  -webkit-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s; 
}

  .smw--pointer-text.e--animation-none:before, .smw--pointer-text.e--animation-none:after, .smw--pointer-text.e--animation-none:hover, .smw--pointer-text.e--animation-none:focus 
{
    -webkit-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s; 
}

  .smw--pointer-text.e--animation-none .smw-menu-item 
{
    -webkit-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s; 
}

    .smw--pointer-text.e--animation-none .smw-menu-item:before, .smw--pointer-text.e--animation-none .smw-menu-item:after, .smw--pointer-text.e--animation-none .smw-menu-item:hover, .smw--pointer-text.e--animation-none .smw-menu-item:focus 
{
      -webkit-transition-duration: 0s;
      -o-transition-duration: 0s;
      transition-duration: 0s; 
}

.smw-advanced-menu--main .smw-advanced-menu a 
{
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  padding: 13px 20px; 
}

.smw-advanced-menu--main .smw-advanced-menu a:hover, .smw-advanced-menu--main .smw-advanced-menu a:focus, .smw-advanced-menu--main .smw-advanced-menu a.highlighted 
{
    padding: 13px 20px;
    box-shadow: none; 
}

.smw-advanced-menu--main .smw-advanced-menu a.current 
{
    background: #373a3c;
    color: #fff; 
}

.smw-advanced-menu--main .smw-advanced-menu a.disabled 
{
    background: #55595c;
    color: #a1a6a9; 
}

.smw-advanced-menu--main .smw-advanced-menu ul 
{
  position: absolute;
  width: 12em;
  border-width: 0;
  border-style: solid;
  padding: 0; 
}

.smw-advanced-menu--main .smw-advanced-menu span.scroll-up, .smw-advanced-menu--main .smw-advanced-menu span.scroll-down 
{
  position: absolute;
  display: none;
  visibility: hidden;
  overflow: hidden;
  background: #fff;
  height: 20px; 
}

.smw-advanced-menu--main .smw-advanced-menu span.scroll-up-arrow, .smw-advanced-menu--main .smw-advanced-menu span.scroll-down-arrow 
{
  position: absolute;
  top: -2px;
  left: 50%;
  margin-left: -8px;
  width: 0;
  height: 0;
  overflow: hidden;
  border-width: 8px;
  border-style: dashed dashed solid dashed;
  border-color: transparent transparent #494c4f transparent; 
}

.smw-advanced-menu--main .smw-advanced-menu span.scroll-down-arrow 
{
  top: 6px;
  border-style: solid dashed dashed dashed;
  border-color: #494c4f transparent transparent transparent; 
}

.smw-advanced-menu--layout-horizontal 
{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; 
}

.smw-advanced-menu--layout-horizontal .smw-advanced-menu 
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; 
}

.smw-advanced-menu--layout-horizontal .smw-advanced-menu a 
{
      white-space: nowrap; 
}


.smw-advanced-menu--layout-vertical .smw-advanced-menu ul 
{
  position: inherit;
  width: 100%; 
}

.smw-advanced-menu--layout-vertical .smw-advanced-menu li:hover > ul 
{
  display: block; 
}


.smw-advanced-menu__align-right .smw-advanced-menu 
{
  margin-left: auto; 
}

.smw-advanced-menu__align-right .smw-advanced-menu--layout-vertical > ul > li > a 
{
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; 
}

.smw-advanced-menu__align-left .smw-advanced-menu 
{
  margin-right: auto; 
}

.smw-advanced-menu__align-left .smw-advanced-menu--layout-vertical > ul > li > a 
{
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; 
}

.smw-advanced-menu__align-center .smw-advanced-menu 
{
  margin-left: auto;
  margin-right: auto; 
}

.smw-advanced-menu__align-center .smw-advanced-menu--layout-vertical > ul > li > a 
{
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; 
}

.smw-advanced-menu__align-justify .smw-advanced-menu--layout-horizontal .smw-advanced-menu 
{
  width: 100%; 
}

  .smw-advanced-menu__align-justify .smw-advanced-menu--layout-horizontal .smw-advanced-menu > li 
{
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; 
}

.smw-advanced-menu__align-justify .smw-advanced-menu--layout-horizontal .smw-advanced-menu > li > a 
{
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; 
}

.smw-advanced-menu-main-wrasmwer 
{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; 
}

ul.smw-advanced-menu 
{
  position: relative;
  z-index: 2;
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: normal;
  -webkit-tap-highlight-color: transparent; 
}

  ul.smw-advanced-menu:after 
{
    content: "\00a0";
    display: block;
    height: 0;
    font: 0px/0 serif;
    clear: both;
    visibility: hidden;
    overflow: hidden; 
}

ul.smw-advanced-menu ul 
{
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: normal;
    -webkit-tap-highlight-color: transparent;
    display: none; 
}

ul.smw-advanced-menu ul li 
{
      display: block;
      list-style: none;
      margin: 0;
      padding: 0;
      line-height: normal;
      -webkit-tap-highlight-color: transparent; 
}

ul.smw-advanced-menu ul ul a 
{
      border-left: 16px solid transparent; 
}

ul.smw-advanced-menu ul ul a:hover, ul.smw-advanced-menu ul ul a:focus, ul.smw-advanced-menu ul ul a:active 
{
        border-left: 16px solid transparent; 
}

ul.smw-advanced-menu ul ul ul a 
{
      border-left: 24px solid transparent; 
}

ul.smw-advanced-menu ul ul ul a:hover, ul.smw-advanced-menu ul ul ul a:focus, ul.smw-advanced-menu ul ul ul a:active 
{
        border-left: 24px solid transparent; 
}

ul.smw-advanced-menu ul ul ul ul a 
{
      border-left: 32px solid transparent; 
}

ul.smw-advanced-menu ul ul ul ul a:hover, ul.smw-advanced-menu ul ul ul ul a:focus, ul.smw-advanced-menu ul ul ul ul a:active 
{
        border-left: 32px solid transparent; 
}

ul.smw-advanced-menu ul ul ul ul ul a 
{
      border-left: 40px solid transparent; 
}

ul.smw-advanced-menu ul ul ul ul ul a:hover, ul.smw-advanced-menu ul ul ul ul ul a:focus, ul.smw-advanced-menu ul ul ul ul ul a:active 
{
        border-left: 40px solid transparent; 
}

ul.smw-advanced-menu li 
{
    position: relative;
    border-width: 0; 
}

ul.smw-advanced-menu a 
{
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 20px;
    line-height: 20px;
    border: none;
    height: 100%; 
}

ul.smw-advanced-menu a:hover, ul.smw-advanced-menu a:focus 
{
      padding: 10px 20px;
      line-height: 20px;
      text-decoration: none; 
}

ul.smw-advanced-menu a.current 
{
      background: #373a3c;
      color: #fff; 
}

ul.smw-advanced-menu a.disabled 
{
      cursor: not-allowed;
      color: #a1a6a9; 
}


.smw-advanced-menu--layout-expanded .smw-advanced-menu ul 
{
  display: block;
  position: static;
  width: auto; 
}

.smw-advanced-menu--layout-expanded .smw-advanced-menu ul ul a,
.smw-advanced-menu--layout-expanded .smw-advanced-menu ul ul a:hover,
.smw-advanced-menu--layout-expanded .smw-advanced-menu ul ul a:focus,
.smw-advanced-menu--layout-expanded .smw-advanced-menu ul ul a:active 
{
    border-left: 0; 
}

.smw-advanced-menu--layout-expanded .smw-advanced-menu--dropdown .smw-menu-item:hover, .smw-advanced-menu--layout-expanded .smw-advanced-menu--dropdown .smw-menu-item:focus, .smw-advanced-menu--layout-expanded .smw-advanced-menu--dropdown .smw-menu-item.highlighted 
{
  background-color: transparent;
  color: inherit; 
}

.smw-advanced-menu--indicator-none .smw-advanced-menu .smw-menu-item.has-submenu 
{
  padding-right: 20px; 
}

.smw-advanced-menu--indicator-none .smw-advanced-menu .smw-menu-item.has-submenu .sub-arrow 
{
    display: none; 
}

.smw-advanced-menu--indicator-plus:before 
{
  font-family: "Open Sans", sans-serif; 
}

.smw-advanced-menu--indicator-chevron .smw-advanced-menu .sub-arrow 
{
  font-size: 10px; 
}

.smw-advanced-menu--indicator-chevron .smw-advanced-menu .sub-arrow:before 
{
    content: '\f078'; 
}

.smw-advanced-menu--indicator-angle .smw-advanced-menu .sub-arrow:before 
{
  content: '\f107'; 
}

.smw-advanced-menu--indicator-classic .smw-advanced-menu .sub-arrow:before 
{
  content: '\f0d7'; 
}

.smw-advanced-menu--indicator-plus .smw-advanced-menu .sub-arrow:before 
{
  content: '+'; 
}

.smw-advanced-menu .sub-arrow 
{
  font-family: 'Font Awesome 5 Free';
  font-size: 16px;
  font-weight: 900;
  line-height: 1;
  padding-left: 10px; 
}

.smw-advanced-menu--dropdown .smw-menu-item 
{
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out; 
}

.smw-advanced-menu--dropdown .smw-menu-item:hover, .smw-advanced-menu--dropdown .smw-menu-item:focus, .smw-advanced-menu--dropdown .smw-menu-item.highlighted 
{
    background-color: #55595c;
    color: #fff; 
}

.smw-sub-item:hover, .smw-sub-item:focus, .smw-sub-item.highlighted 
{
  background-color: #55595c;
  color: #fff; 
}

.smw-menu-toggle 
{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  border: 0 solid;
  color: #494c4f;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 0.25em;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; 
}

.smw-menu-toggle a 
{
    line-height: 0; 
}

.smw-menu-toggle-label-left .smw-hamburger 
{
    order: 2; 
}

.smw-hamburger-left
{
    margin-right:auto;
}

.smw-hamburger-right
{
    margin-left:auto;
}

.smw-hamburger-center
{
    margin:auto;
}

.smw-menu-toggle .smw-hamburger 
{
    font: inherit;
    display: inline-block;
    overflow: visible;
    margin: 0;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity,filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;
    line-height: 0; 
}

.smw-menu-toggle .smw-hamburger .smw-hamburger-box 
{
    position: relative;
    display: inline-block;
    font-size: 26px;
    width: 1em;
    height: 1em; 
}

.smw-menu-toggle .smw-hamburger .smw-hamburger-box .smw-hamburger-inner 
{
    top: 50%;
    display: block;
    margin-top: -0.077em;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition-duration: 75ms; 
}

.smw-menu-toggle .smw-hamburger .smw-hamburger-box .smw-hamburger-inner:before, .smw-menu-toggle .smw-hamburger .smw-hamburger-box .smw-hamburger-inner:after 
{
    display: block;
    content: ""; 
}

.smw-menu-toggle .smw-hamburger .smw-hamburger-box .smw-hamburger-inner:before 
{
    transition: top 75ms ease .12s,opacity 75ms ease;
    top: -0.308em; 
}

.smw-menu-toggle .smw-hamburger .smw-hamburger-box .smw-hamburger-inner:after 
{
    transition: bottom 75ms ease, transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.12s;
    bottom: -0.308em; 
}

.smw-menu-toggle .smw-hamburger .smw-hamburger-box .smw-hamburger-inner,
.smw-menu-toggle .smw-hamburger .smw-hamburger-box .smw-hamburger-inner:before,
.smw-menu-toggle .smw-hamburger .smw-hamburger-box .smw-hamburger-inner:after 
{
  background-color: #000;
  position: absolute;
  width: 100%;
  height: 0.154em;
  transition-timing-function: ease;
  transition-duration: .15s;
  transition-property: transform;
  border-radius: 0.154em; 
}

.smw-menu-toggle.smw-active .smw-hamburger .smw-hamburger-inner 
{
  transition-delay: .12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: rotate(45deg); 
}

.smw-menu-toggle.smw-active .smw-hamburger .smw-hamburger-inner:before 
{
  top: 0;
  transition: top 75ms ease,opacity 75ms ease .12s;
  opacity: 0; 
}

.smw-menu-toggle.smw-active .smw-hamburger .smw-hamburger-inner:after 
{
  bottom: 0;
  transition: bottom 75ms ease, transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transform: rotate(-90deg); 
}

.smw-menu-toggle-label-left .smw-menu-toggle-label 
{
  margin-right: 10px; 
}

.smw-menu-toggle-label-right .smw-menu-toggle-label 
{
  margin-left: 10px; 
}


.smw-advanced-menu--dropdown.smw-advanced-menu__container 
{
  margin-top: 10px; 
}

.smw-advanced-menu--dropdown.smw-advanced-menu__container .smw-sub-item 
{
  font-size: 0.85em;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out; 
}

.smw-advanced-menu--dropdown a 
{
  color: #494c4f;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; 
}

.smw-advanced-menu--dropdown a.current 
{
  background: #373a3c;
  color: #fff; 
}

.smw-advanced-menu--dropdown a.disabled 
{
  color: #b3b3b3; 
}


ul.smw-advanced-menu--dropdown a 
{
  text-shadow: none;
  border-left: 8px solid transparent; 
}

ul.smw-advanced-menu--dropdown a:hover, ul.smw-advanced-menu--dropdown a:focus 
{
  text-shadow: none;
  border-left: 8px solid transparent; 
}


.smw-advanced-menu--dropdown 
{
  background-color: #fff;
  font-size: 13px; 
}


.smw-advanced-menu-main-wrasmwer:not(.smw-advanced-menu--toggle) .smw-menu-toggle:not(.smw-menu-toggle-on-all) 
{
  display: none; 
}


.smw-advanced-menu__text-align-center .smw-advanced-menu--dropdown .smw-advanced-menu a 
{
  box-pack: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; 
}


.smw-advanced-menu--toggle .smw-menu-toggle:not(.smw-active) + .smw-advanced-menu__container:not(.smw-menu-full-screen) 
{
  display: none; 
}

.smw-advanced-menu--stretch .smw-advanced-menu__container.smw-advanced-menu--dropdown 
{
  position: absolute;
  z-index: 9998; 
}


.smw-advanced-menu--dropdown.smw-advanced-menu__container .smw-menu-item 
{
  background-color: transparent; 
}

  .smw-advanced-menu--dropdown.smw-advanced-menu__container .smw-menu-item:hover 
{
    background-color: transparent; 
}

.smw-advanced-menu--type-full-screen .smw-menu-toggle.smw-active 
{
  visibility: hidden; 
}

.smw-advanced-menu--type-full-screen .smw-advanced-menu--dropdown.smw-advanced-menu__container 
{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
  margin-top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: -webkit-transform 0.4s linear, opacity 0.4s, visibility 0s 0.4s linear;
  transition: transform 0.4s, opacity 0.4s linear;
  overflow-y: auto; 
}

.smw-advanced-menu--type-full-screen .smw-advanced-menu--dropdown.smw-advanced-menu__container.smw-menu-open 
{
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1); 
}

.smw-advanced-menu--type-full-screen .smw-advanced-menu--dropdown.smw-advanced-menu__container > ul 
{
  top: 50%;
  height: 60%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); 
}

.smw-advanced-menu--type-full-screen .smw-advanced-menu--dropdown.smw-advanced-menu__container .smw-menu-close 
{
  width: 40px;
  height: 40px;
  position: absolute;
  right: 20px;
  top: 20px;
  overflow: hidden;
  border: none;
  font-size: 40px;
  color: #fff;
  outline: none;
  z-index: 9999999;
  text-align: center;
  cursor: pointer; 
}

.smw-advanced-menu--type-full-screen .smw-advanced-menu--dropdown.smw-advanced-menu__container .smw-menu-close:before, .smw-advanced-menu--type-full-screen .smw-advanced-menu--dropdown.smw-advanced-menu__container .smw-menu-close:after 
{
  content: '';
  position: absolute;
  left: 50%;
  width: 2px;
  height: 40px;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg); 
}

.smw-advanced-menu--type-full-screen .smw-advanced-menu--dropdown.smw-advanced-menu__container .smw-menu-close:after 
{
  -webkit-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg); 
}

.smw-advanced-menu--type-full-screen ul.smw-advanced-menu--dropdown a, .smw-advanced-menu--type-full-screen ul.smw-advanced-menu--dropdown a:hover 
{
  border-left: 0; 
}

.smw-menu-clear 
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999998;
  background: rgba(0, 0, 0, 0.1);
  display: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; 
}

.smw-advanced-menu--dropdown.smw-menu-off-canvas 
{
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate3d(-100%, 0, 0);
  padding: 60px 0 0;
  z-index: 999998;
  margin-top: 0;
  transition: transform 0.4s ease;
  overflow-y: auto; 
}

.smw-advanced-menu--dropdown.smw-menu-off-canvas.smw-menu-off-canvas-right 
{
  left: auto;
  right: 0;
  transform: translate3d(100%, 0, 0); 
}

.smw-advanced-menu--dropdown.smw-menu-off-canvas.smw-menu-off-canvas-right .smw-menu-close 
{
  right: auto;
  left: 20px; 
}

.smw-advanced-menu--dropdown.smw-menu-open 
{
  display: block; 
}

.smw-advanced-menu--dropdown .smw-menu-close 
{
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
  overflow: hidden;
  border: none;
  font-size: 40px;
  color: #fff;
  outline: none;
  z-index: 9999999;
  text-align: center;
  cursor: pointer; 
}

.smw-advanced-menu--dropdown .smw-menu-close:before, .smw-advanced-menu--dropdown .smw-menu-close:after 
{
  content: '';
  position: absolute;
  left: 50%;
  width: 2px;
  height: 30px;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg); 
}

.smw-advanced-menu--dropdown .smw-menu-close:after 
{
  -webkit-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg); 
}

body.smw-menu--off-canvas.smw-menu-open .smw-menu-open.smw-menu-off-canvas 
{
  transform: translate3d(0, 0, 0); 
}

body.smw-menu--off-canvas.smw-menu-open .smw-menu-open.smw-menu-off-canvas-right 
{
  transform: translate3d(0, 0, 0); 
}


ul.smw-advanced-menu--dropdown a, ul.smw-advanced-menu--dropdown a:hover 
{
  border-left: 0; 
}

.smw-offcanvas-content-open.smw-offcanvas-content-top.smw-offcanvas-content-reset,
.smw-offcanvas-content-open.smw-offcanvas-content-bottom.smw-offcanvas-content-reset 
{
  margin-top: 0 !important; 
}

.smw-offcanvas-toggle 
{
  cursor: pointer; 
}

.smw-offcanvas-container 
{
  position: relative;
  left: 0;
  z-index: 99;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s; 
}

.smw-offcanvas-container:after 
{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s; 
}

.smw-offcanvas-content-open 
{
  overflow: hidden; 
}

.smw-offcanvas-content-open .smw-offcanvas-container:after 
{
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  z-index: 100001; 
}

.smw-offcanvas-content 
{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  visibility: hidden;
  width: 300px;
  height: 100%;
  overflow-y: auto;
  background: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; 
}

.smw-offcanvas-content.smw-offcanvas-content-right 
{
  left: auto;
  right: 0; 
}

.smw-offcanvas-content.smw-offcanvas-content-top, .smw-offcanvas-content.smw-offcanvas-content-bottom 
{
  width: 100%;
  height: 300px; 
}

.smw-offcanvas-content.smw-offcanvas-content-bottom 
{
  top: auto;
  bottom: 0; 
}

.smw-offcanvas-content .smw-offcanvas-header 
{
  padding: 20px;
  text-align: right; 
}

.smw-offcanvas-content .smw-offcanvas-close 
{
  position: relative;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  z-index: 1;
  font-style: normal;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 24px;
  margin: 0; 
}

.smw-offcanvas-content .smw-offcanvas-body 
{
  padding-left: 20px;
  padding-right: 20px; 
}

.smw-offcanvas-toggle-wrap .smw-offcanvas-toggle 
{
  display: inline-flex;
  align-items: center; 
}

.smw-offcanvas-icon-before .smw-offcanvas-toggle-icon 
{
  margin-right: 5px; 
}

.smw-offcanvas-icon-after .smw-offcanvas-toggle-icon 
{
  order: 2;
  margin-left: 5px; 
}

.smw-offcanvas-content.smw-offcanvas-slide 
{
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); 
}

.smw-offcanvas-content.smw-offcanvas-slide.smw-offcanvas-content-right 
{
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); 
}

.smw-offcanvas-content.smw-offcanvas-slide.smw-offcanvas-content-top 
{
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0); 
}

.smw-offcanvas-content.smw-offcanvas-slide.smw-offcanvas-content-bottom 
{
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0); 
}

.smw-offcanvas-content.smw-offcanvas-reveal 
{
  z-index: 1; 
}

.smw-offcanvas-content-slide.smw-offcanvas-content-open .smw-offcanvas-content.smw-offcanvas-content-visible 
{
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); 
}

.smw-offcanvas-content-left.smw-offcanvas-push 
{
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); 
}

.smw-offcanvas-content-right.smw-offcanvas-push 
{
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); 
}

.smw-offcanvas-content-top.smw-offcanvas-push 
{
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0); 
}

.smw-offcanvas-content-bottom.smw-offcanvas-push 
{
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0); 
}

.smw-offcanvas-content-push.smw-offcanvas-content-open .smw-offcanvas-content.smw-offcanvas-content-visible 
{
  visibility: visible;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s; 
}

.smw-offcanvas-content-push.smw-offcanvas-content-open.smw-offcanvas-content-left .smw-offcanvas-container 
{
  -webkit-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0); 
}

.smw-offcanvas-content-push.smw-offcanvas-content-open.smw-offcanvas-content-right .smw-offcanvas-container 
{
  -webkit-transform: translateX(-300px);
  transform: translateX(-300px); 
}

.smw-offcanvas-content-push.smw-offcanvas-content-open.smw-offcanvas-content-top .smw-offcanvas-container 
{
  -webkit-transform: translate3d(0, 300px, 0);
  transform: translate3d(0, 300px, 0); 
}

.smw-offcanvas-content-push.smw-offcanvas-content-open.smw-offcanvas-content-bottom .smw-offcanvas-container 
{
  -webkit-transform: translate3d(0, -300px, 0);
  transform: translate3d(0, -300px, 0); 
}

.smw-offcanvas-content-push.smw-offcanvas-content-open.smw-offcanvas-content-left .smw-offcanvas-content, .smw-offcanvas-content-push.smw-offcanvas-content-open.smw-offcanvas-content-right .smw-offcanvas-content, .smw-offcanvas-content-push.smw-offcanvas-content-open.smw-offcanvas-content-top .smw-offcanvas-content, .smw-offcanvas-content-push.smw-offcanvas-content-open.smw-offcanvas-content-bottom .smw-offcanvas-content 
{
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); 
}

.smw-offcanvas-content-reveal .smw-offcanvas-container 
{
  background: #fff;
  overflow: hidden; 
}

.smw-offcanvas-content-reveal.smw-offcanvas-content-open 
{
  position: relative;
  overflow: hidden; 
}

.smw-offcanvas-content-reveal.smw-offcanvas-content-open .smw-offcanvas-content.smw-offcanvas-content-visible 
{
  visibility: visible;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s; 
}

.smw-offcanvas-content-reveal.smw-offcanvas-content-open.smw-offcanvas-content-left .smw-offcanvas-container 
{
  -webkit-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0); 
}

.smw-offcanvas-content-reveal.smw-offcanvas-content-open.smw-offcanvas-content-right .smw-offcanvas-container 
{
  -webkit-transform: translate3d(-300px, 0, 0);
  transform: translate3d(-300px, 0, 0); 
}

.smw-offcanvas-content-reveal.smw-offcanvas-content-open.smw-offcanvas-content-top .smw-offcanvas-container 
{
  -webkit-transform: translate3d(0, 300px, 0);
  transform: translate3d(0, 300px, 0); 
}

.smw-offcanvas-content-reveal.smw-offcanvas-content-open.smw-offcanvas-content-bottom .smw-offcanvas-container 
{
  -webkit-transform: translate3d(0, -300px, 0);
  transform: translate3d(0, -300px, 0); 
}

.smw-offcanvas-content-reveal.smw-offcanvas-content-bottom .smw-offcanvas-container 
{
  height: 100%; 
}

.smw-offcanvas-content-left.smw-offcanvas-slide-along 
{
  z-index: 1;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0); 
}

.smw-offcanvas-content-right.smw-offcanvas-slide-along 
{
  z-index: 1;
  -webkit-transform: translate3d(50%, 0, 0);
  transform: translate3d(50%, 0, 0); 
}

.smw-offcanvas-content-top.smw-offcanvas-slide-along 
{
  z-index: 1;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0); 
}

.smw-offcanvas-content-bottom.smw-offcanvas-slide-along 
{
  z-index: 1;
  -webkit-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0); 
}

.smw-offcanvas-content-slide-along .smw-offcanvas-container 
{
  background: #fff;
  overflow: hidden; 
}

.smw-offcanvas-content-slide-along.smw-offcanvas-content-open .smw-offcanvas-content.smw-offcanvas-content-visible 
{
  visibility: visible;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); 
}

.smw-offcanvas-content-slide-along.smw-offcanvas-content-open.smw-offcanvas-content-left .smw-offcanvas-container 
{
  -webkit-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0); 
}

.smw-offcanvas-content-slide-along.smw-offcanvas-content-open.smw-offcanvas-content-right .smw-offcanvas-container 
{
  -webkit-transform: translate3d(-300px, 0, 0);
  transform: translate3d(-300px, 0, 0); 
}

.smw-offcanvas-content-slide-along.smw-offcanvas-content-open.smw-offcanvas-content-top .smw-offcanvas-container 
{
  -webkit-transform: translate3d(0, 300px, 0);
  transform: translate3d(0, 300px, 0); 
}

.smw-offcanvas-content-slide-along.smw-offcanvas-content-open.smw-offcanvas-content-bottom .smw-offcanvas-container 
{
  -webkit-transform: translate3d(0, -300px, 0);
  transform: translate3d(0, -300px, 0); 
}

.smw-offcanvas-content-slide-along.smw-offcanvas-content-bottom .smw-offcanvas-container 
{
  height: 100%; 
}

.smw-hamburger-label 
{
  display: inline-block;
  margin-left: 10px; 
}

.admin-bar .smw-offcanvas-content-left,
.admin-bar .smw-offcanvas-content-right 
{
  top: 32px; 
}

@media (min-width: 768px) 
{
    .smw-advanced-menu--dropdown-mobile .smw-menu-toggle:not(.smw-menu-toggle-on-all) 
    {
        display: none; 
    } 
}

@media only screen and (min-width: 1025px) 
{
    .smw-advanced-menu--dropdown-tablet .smw-menu-toggle:not(.smw-menu-toggle-on-all) {
        display: none; 
    }
}

@media (max-width: 1024px) 
{
    .smw-advanced-menu--dropdown-tablet .smw-advanced-menu--main 
    {
        display: none; 
    }
    
    .smw-advanced-menu--dropdown-tablet .smw-menu-toggle 
    {
        display: flex; 
    }
}

@media only screen and (max-width: 767px) 
{
    .smw-advanced-menu--dropdown-mobile .smw-advanced-menu--main 
    {
        display: none; 
    }
    
    .smw-advanced-menu--dropdown-mobile .smw-menu-toggle 
    {
        display: flex; 
    }
}